@import url('https://fonts.googleapis.com/css?family=Signika');
.centerPage{
    position: relative;
    text-align: center;
    width: 100%;
    margin-top: 30%;
    font-family: 'Signika', sans-serif;
}